/*---- @font  ----*/

@font-face {
    font-family: 'HankenGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
}

/* ----  Global  ---- */

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-family: 'HankenGrotesk', sans-serif;
}

p {
    font-size: 18px;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
    font-weight: bold;
}

h1 {
    padding: 30px 0;
}

.bigLetter {
    font-size: 60px;
    font-weight: bold;
}

.bubble {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding-top: 20px;
    margin-bottom: 25px;
    background: linear-gradient(hsla(260, 100%, 1%, 0.3), hsla(241, 81%, 54%, 0));
}

h2 {
    margin-bottom: 20px;
}

.paragraphe {
    padding-bottom: 30px;
}

.frame {
    margin: 0 20px;
}

.top {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 35px 35px;
    color: hsl(241, 100%, 89%);
    padding: 0 5%;
    width: 375px;
}

.bottom {
    width: 375px;
    padding: 0 30px;
    color: hsl(240, 15%, 64%);
}

h3 {
    text-align: left;
}

.summary {
    padding: 20px 0;
}

i {
    padding-right: 15px;
}

.banderole {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 18px 0;
    display: flex;
}

.bg-1 {
    background: hsla(0, 100%, 67%, 0.1);
}

.bande-red {
    color: hsl(0, 100%, 67%);
    font-weight: bold;
}

.bg-2 {
    background: hsla(39, 100%, 56%, 0.1);
}

.bande-yel {
    color: hsl(39, 100%, 56%);
    font-weight: bold;
}

.bg-3 {
    background: hsla(166, 100%, 37%, 0.1);
}

.bande-gre {
    color: hsl(166, 100%, 37%);
    font-weight: bold;
}

.bg-4 {
    background: hsla(234, 85%, 45%, 0.1);
}

.bande-blu {
    color: hsl(234, 85%, 45%);
    font-weight: bold;
}

button {
    font-size: 18px;
    width: 100%;
    padding: 15px 0;
    background: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    border-radius: 30px;
    margin-bottom: 20px;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

section>aside {
    font-weight: bold;
    padding-left: 80px;
}

.attribution {
    margin-top: 50px;
}

@media (min-width: 1440px) {

    .top,
    .bottom {
        margin: 0;
    }

    body {
        min-height: 100vh;
        border: solid 5px red;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .frame {
        margin: 0 -25px;
    }

    .top {
        border-radius: 30px;
    }
}